.border{
    width: 99%;
   margin-top: 60px;
    height: 26rem;
    background-color:#747373;
    border-style:solid;
    z-index: -20;
    position: absolute;
    border-radius: 20px;
}
.fbutton{
    padding-top: 90px;
    margin-left: 160px;
}
.mbutton{
    padding-top: 60px;
    margin-left: 160px;
}
.lmbutton{
    padding-top: 60px;
    margin-left: 160px;  
}
.lbutton{
    padding-top: 60px;
    margin-left: 160px; 
   
}
.abutton{
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    margin-right: 60px;
    margin-left: 10px;
    color: white;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .abutton::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -2;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .abutton::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .abutton:hover::after {
    filter: blur(30px);
  }
  
  .abutton:hover::before {
    transform: rotate(-180deg);
  }
  
  .abutton:active::before {
    scale: 0.7;
  }

  html{
    scroll-behavior: smooth;
  }
  