.india{
    background-image: url('./image/pexels-apostrophy-1098460.jpg');
    background-size:cover;
    width: 83rem;
    height: 34rem;
    margin-left: 0px;
    padding-top: 58px;
    padding-bottom: 80px;
}
.indiaA{
    width: 80%;
    height: 107%;
  background-color: rgba(167, 176, 176, 0.921);
    border-radius: 33px;
  margin-left: 140px;
  display: flex;
 align-content: center;
}
